# Ignore virtual environment
env/
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore VS Code settings (if you use VS Code)
.vscode/

# Ignore system files
.DS_Store

# Ignore any environment files
*.env
